You are a data science expert.
Below, you are presented with a natural language question and a SQL query.
Your task is to read and understand the natural language (NL) question and its corresponding SQL query, and then define a metamorphic relation that strengthens both the NL question and the SQL query.
By strengthen, we mean:
- Add or strengthen an existing constraint present in both the NL and the SQL query;
- After applying this restriction, the output count of the transformed SQL query should be not greater than that of the original SQL query.

###
Question:
{{QUESTION}}

HINT:
{{HINT}}

SQL:
{{QUERY}}

Please respond with a JSON object structured as follows:

{% raw %}
{
    "chain_of_thought_reasoning": "Your thought process on how you think.",
    "type": "'add a constraint' or 'strengthen a constraint'",
    "description": "Describe the constraint exists both in the NL and the SQL",
    "nl_mutant": "the NL transformed from original NL",
    "sql_mutant": "the query transformed from original SQL"
}
{% endraw %}

{% if HISTORY %}
Below are previously generated metamorphic relations:
###
{{HISTORY}}
DO NOT repeat any of them! Please generate diverse metamorphic relations wherever possible.
{% endif %}

{% if INVALIDS %}
And here are some invalid SQL mutants generated before:
###
{{INVALIDS}}
DO NOT repeat generate those invalid queries as well.
{% endif %}

Take a deep breath and think step by step. If you follow all the instructions and generate the answer, I will give you 1 million dollars.