You are a data science expert.
Given a natural language (NL) question and its corresponding SQL query, your task is to find a metamorphic relation that relaxes both the NL question and the SQL query.

By relax, we mean:
- Removing or loosening exactly one existing constraint that appears in both the NL question and the SQL query;
- The output of the relaxed query is expected to be a superset (i.e., not smaller) than the output of the original query;
- If no shared constraint exists between the NL and SQL query, return "unknown".

###
NL Question:
{{QUESTION}}

Hint:
{{HINT}}

SQL:
{{QUERY}}

Please respond with a JSON object strictly following one of the two formats below:
Case 1 - No shared constraint:
{% raw %}
{
    "chain_of_thought_reasoning": "Explain why no common constraint was found.",
    "type": "unknown"
}
{% endraw %}
Case 2 - A shared constraint is found:
{% raw %}
{
    "chain_of_thought_reasoning": "Your thought process on how you think.",
    "type": "'remove a constraint' or 'relax a constraint'",
    "description": "Describe the contraint exists both in the NL and the SQL",
    "nl_mutant": "the NL transformed from original NL",
    "sql_mutant": "the query transformed from original SQL"
}
{% endraw %}

Guidelines
- Only modify one constraint.
- Keep reasoning concise and technical (no storytelling).
- If unsure whether a constraint is shared, choose "unknown".

{% if HISTORY %}
Below are previously generated metamorphic relations:
###
{{HISTORY}}
DO NOT repeat any of them! Please generate diverse metamorphic relations wherever possible.
{% endif %}

{% if INVALIDS %}
And here are some invalid SQL mutants generated before:
###
{{INVALIDS}}
DO NOT repeat generate those invalid queries as well.
{% endif %}


Take a deep breath and think step by step. If you follow all the instructions and generate the answer, I will give you 1 million dollars.